*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    background-color: blue;
}

main div .col-1{
    background-color: aqua;
    height: 50px;
}

main div .col-2{
    background-color: yellow;
    height: 50px;
}

header{
    background-color: black;
    padding: 20px 0;
}

header .container-fluid{
    height: 100px;
    background-color: pink;
}

.explore{
    background-color: brown;
    height: 100px;
}

.explore .cols-4{
    background-color: blueviolet;
    height: 50px;
}

section .container{
    background-color: blanchedalmond;
    height: 200px;
}

section .row{
    height: 100px;
    background-color: chartreuse;
}