*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font_t{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg-plus: #bebcbb;
    --bg-now: #161c3b;
    --bg-foot: #00439c;
    
    --btn-special: #d9dadc;
    --act-hover: #0072ce;
}

.size{
    font-size: 20px;
    vertical-align: text-top;
}
/*Active*/
.bord_b:active{

}

.col-2:hover .bot_bord{
    border-bottom: var(--act-hover) 3px solid;
}

/*cards games*/
.border_c{
    border-radius: 15px;
}

.bg_tras{
    background-color: transparent;
}

/*bg sections*/
.sony_log{
    width: 10px;
}

.hero_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.game_bg{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

img{
    width: 100%;
}

/*play station plus section*/

.bg_plus{
    background: var(--bg-plus);
}

.btn_special{
    background-color: var(--btn-special);
}

/*play station now section*/

.bg_now{
    background: var(--bg-now);
}

/*footer section*/

.bg_foot{
    background-color: var(--bg-foot);
}

.global_svg{
    display: inline-block;
    width: 1rem;
}
