*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sony_log{
    width: 10px;
}

.hero_img{
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

img{
    width: 100%;
}